{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.pseudo }} {% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
{% for message in messages %}
<div class="flash-message {{ label }}">
    {{ message }}
</div>
{% endfor %}
{% endfor %}
<div class="basic-tab">
    <table class="tabDetailSession">
      <thead>
        <tr>
          <th colspan="2">Modifier le profil : </th>
        </tr>
      </thead>
      
      <tr>
        <td>
          <h1>Changer l'email</h1>

        {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.currentPassword) }}
        {{ form_row(changePasswordForm.newPassword) }}
        <button type="submit" class="btn btn-primary" onclick="return confirm('Êtes-vous sûr de vouloir modifier le password ?')">Modifier l'email</button>
        {{ form_end(changePasswordForm) }}

        </td>
    </tr>

      </tbody>
    </table>
  </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('script/script.js') }}"></script>
{% endblock %}

