{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.pseudo }}{% endblock %}

{% block body %}

<div class="container container-marginBot">
    <div class="basic-tab">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3">Profil de {{ app.user.pseudo }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pseudo :</td>
                    <td>{{ app.user.pseudo }}</td>
                    <td><a href="{{ path('account_change_pseudo') }}" class="btn btn-primary">Modifier</a></td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td>{{ app.user.email }}</td>
                    <td><a href="{{ path('account_change_email') }}" class="btn btn-primary">Modifier</a></td>
                </tr>
                <tr>
                    <td>Rôle :</td>
                    <td class="red">{{ app.user.roles|json_encode }}</td>
                </tr>
                <tr>
                    <td>Verified :</td>
                    <td class="{{ app.user.isVerified ? 'green' : 'red' }}">{{ app.user.isVerified ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <td>Mot de passe :</td>
                    <td><a href="#" class="btn btn-primary">Modifier</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
